*.a
*.dll
*.exe
*.lib
*.o
*.obj
*.sln
*.sln.docstates
*.suo
*.user
*.userosscache
*.vcxproj*
.git/
.github/
.vs/
LICENSE
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
bld/
graphics/affine_test/src/Affine.h
graphics/affine_test/src/cs200_h1_demo.cpp
graphics/custom_rasterizer/src/Affine.h
graphics/custom_rasterizer/src/CamManager.h
graphics/custom_rasterizer/src/Camera.h
graphics/custom_rasterizer/src/Clip.h
graphics/custom_rasterizer/src/DrawFrame.h
graphics/custom_rasterizer/src/FillTriangle.cpp
graphics/custom_rasterizer/src/HalfPlane.h
graphics/custom_rasterizer/src/Inverse.cpp
graphics/custom_rasterizer/src/Mesh.h
graphics/custom_rasterizer/src/Object.h
graphics/custom_rasterizer/src/QuadMesh.cpp
graphics/custom_rasterizer/src/QuadMesh.h
graphics/custom_rasterizer/src/RasterUtilities.h
graphics/custom_rasterizer/src/cs200final_proj.cpp
packages.config
packages/
shared_lib/
test
tests/cs200_glut_demo/lib/glut32.dll
tests/cs200_glut_demo/lib/glut32.lib
tests/cs200_glut_demo/src/cs200glut_demo.cpp
tests/cs200_glut_demo/src/glut.h
x64/
x86/
